@import "../../App.scss";

.header{
    display: flex;
    justify-content: centre;
    align-items: center;
    flex-flow: column;
    background: $secondary-green;
    color: $dark-green;
    padding-bottom: 1.25rem;
    &__logo{
        width: 15rem;
        height: 15rem;
        margin-top: -2.5rem;
    }
}

.header-logged-in{
    display: flex;
    justify-content: space-evenly;
    margin-top: -1.875rem;

}

.header-logged-out{
    display: flex;
    gap: 2rem;
    margin-top: -1.875rem;

    &__login, &__signup{
        color: $dark-green;
        text-decoration: none;
        &:hover{
            color: $brown;
        }
    }

}