@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.profile{

}

.hero{

}

.tracker{
    &__img{
        width: 100vw;
        height: 40vh;
        z-index: 0;
    }
    &__form{
        z-index: 2;
    }
    &__form-title{}
    &__form-input{}
    &__form-btn{}
}

.progress{
    &__bar{}
    &__feedback{}
    &__add-btn{}
}