@import "../../App.scss";

.custom-modal {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    @include justifyContent-alignItems-center;
    background-color: rgba(0, 0, 0, 0.4);
}

.custom-modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 31.25rem 16.875rem;
    border: .0625rem solid #888;
    width: 90%;
    max-width: 20rem;
    @include flex-column;
    flex-wrap: wrap;
    align-content: center;
    position: relative;

    &__close{
        width: 1.5rem;
        height: 1.5rem;
        display: flex;
        justify-content: flex-end;
        margin: -1rem 0 1rem 21rem;
    }
    &__title{
        margin-bottom: -1.5rem;
    }
    &__confirm{
        margin-bottom: 12rem;
    }
    @include tablet{
        max-width: 38rem;
        width: 100%;
        padding: 1.25rem 15.625rem;

        &__close{
            margin: 1rem 0 .625rem 32rem;
        }
        &__title{
            margin-bottom: -1.5rem;
        }
        &__confirm{
            margin-bottom: -9.375rem;
        }
    }
    @include desktop{
        max-width: 38rem;
        width: 100%;
        padding: 1.25rem 15.625rem;

        &__close{
            margin: 0.625rem 0 .625rem 32rem;
            max-width: 38rem;
        }
        &__title{
            margin-bottom: -1.5rem;
        }
        &__confirm{
            margin-bottom: -9.375rem;
        }
    }
}

.custom-modal-actions {
    @include justify-content-center;

    @include tablet{
        justify-content: flex-end;
    }
    @include desktop{
        justify-content: flex-end;
    }
}

.btn-delete{
    background-color: $dark-green;
    color: $primary-light;
}

.btn-cancel{
    background-color: $primary-light;
}

.btn-cancel, .btn-delete {
    margin-left: .625rem;
    padding: .5rem 3.9375rem;
    border-radius: 1.25rem;
    border: .0625rem solid $brown;
    margin: 2.5rem 0 .625rem .625rem; 

    @include tablet{
        padding: .5rem 1rem;
    }
    @include desktop{
        padding: .5rem 1rem;
    }
}