@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.book-modal {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
}

.book-modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 26.25rem 18.75rem 350px 300px;
    border: .0625rem solid #888;
    max-width: 37.5rem;
    @include flex-column;
    flex-wrap: wrap;
    gap: 1.25rem;
    align-content: center;
    position: relative;


    &__title{
        margin: -24rem 0 -1rem -0.625rem;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;

        @include page-header;
    }
    &__cover{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 15.625rem;
        height: 21.875rem;
        box-shadow: 0 0 11px 1px $dark-green;
    }
    &__author{
        @include body-small;
        display: flex;
        justify-content: center;
        margin-bottom: -1.25rem;
    }
    &__description{
        margin: -1.25rem -6.25rem -31.25rem -6.25rem;
        @include body-medium;
    }
    &__buttons{
        display: flex;
        flex-flow: row-reverse;
        margin-top: 660px;
        align-items: baseline;
        justify-content: center;
        gap: .625rem;
        @include labels-links-buttons;
        z-index: 1001;
        position: absolute;
    }
    &__close-btn{
        width: 6rem;
    }
    &__add-btn{
        width: 7.5rem;
    }
    &__close-btn, &__add-btn{
        height: 2rem;
        background-color: $primary-green;
        color: $dark-green;
        border-radius: .25rem;
        @include border-dark-green;

        &__hover{
            background-color: $dark-green;
            color: $primary-light;
        }

    }
    @include tablet{
        max-width: 38rem;
        width: 100%;
        padding: 25rem 18.75rem;

        &__close{
            margin: 1rem 0 .625rem 32rem;
        }
        &__title{
            margin-top: -350px;
        }
        // &__description{
        //     margin: 0 -6.25 -6.25rem -6.25rem;
        // }
    }
    @include desktop{
        max-width: 38rem;
        width: 100%;
        padding: 25rem 18.75rem 21.875rem 18.75rem;

        &__title{
            margin: -24rem 0 -1rem -0.625rem;
        }
        &__confirm{
            margin-bottom: -9.375rem;
        }
    }
}
