@import "../../App.scss";

.search{
    display: flex;
    justify-content: center;

    &__input{
        height: 2.5rem;
        @include border-dark-green;
        padding: 1rem;
        width: 37vw;
        border-radius: .25rem;

        &:focus{
            @include border-second-green;
        }
    }
    &__icon{
        width: 25px;
        height: 20px;
    }

    @include tablet{
        &__input{
            height: 3rem;
            width: 40vw;
        }
    }
    @include desktop{
        &__input{
            height: 3rem;
            width: 42vw;
        }

    }
}