@import "../../App.scss";

.book-list{
    display: flex;
    overflow-x: auto;
    padding: 1rem;

    &__wrapper{
        flex-shrink: 0;
        margin-right: 1rem;
        text-align: center;
        min-width: 200px;
    }
    &__cover{
        width: 80%; 
        height: 70%;
        object-fit: cover;

    }
    &__title{
        margin-top: 0.5rem;
        @include body-medium;
        flex-wrap: wrap;

    }
}