@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.footer{
    @include justifyContent-alignItems-center;
    padding: 50px;
    background: linear-gradient(to bottom, $primary-green, $dark-green);
    @include border-top-dotted-brown;
    &__content{
        color: $secondary-green;
        @include body-small;
    }
}